<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">GESLAB</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Gestión de usuarios
          <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Registrar usuario", nuevo_usuario_path%></li>
            <li><%= link_to "Modificar usuario", modificar_usuario_path%></li>
            <li><%= link_to "Eliminar usuario", eliminar_usuario_path%></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Ingreso de componentes
          <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Ingreso de hardware", ingreso_hardware_path%></li>
            <li><%= link_to "Laboratorio", laboratorio_path%></li>
            <li><%= link_to "Gestión de hardware", gestion_hardware_path%></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Reportabilidad
          <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Hardware", hardware_path%></li>
            <li><%= link_to "Instalaciones", instalacion_path%></li>
            <li><%= link_to "Reparaciones", reparacion_path%></li>
            <li><%= link_to "Cambios de componentes", cambio_componente_path%></li>
            <li><%= link_to "Historial de componentes", historial_componente_path%></li>
            <li><%= link_to "Respuestos utilizados", respuesto_utilizado_path%></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "iniciar sesión", principal_path %></li>
      </ul>
    </div>
  </div>
</nav>
    <!--Otro contenido-->
    <!--<ul class="nav nav-pills nav-stacked">
      <li><%= link_to "Reportes", root_path%></li>
    </ul>-->
    <!--Contenido de la página-->
    <center><h2><%= link_to "inicio", root_path%></h2>
    <h2>Página principal</h2>
    <p>Estamos trabajando en ello.</p><center/>

  </div>
</div>
</body>
</html>
